
  
  .apparitions-con {
    display: flex; /* Make images display inline */
    flex-wrap: wrap; /* Allow images to wrap to the next line if needed */
    gap: 10px;
    background-color: #fff;
    border: 5px solid #e5e7eb;
 /* Add spacing between images (adjust as desired) */
  }
  
  .apparition-img-con {
    
  }
  
  .apparition-img-con img {
    width: 200px; 
    height: 250px; 
    object-fit: cover; 
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 5px solid #e5e7eb;
  }
  

  .character-info-con{
    padding: 3rem 18rem;
    background-color: #EDEDED;
}

.character-name{
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    background:linear-gradient( to right, #A855F7, #27AE60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .4s ease-in-out;
}

.character-name:hover{
    transform: skew(-3deg);
}
.title{
    display: inline-block;
    margin: 3rem 0;
    font-size: 2rem;
    cursor: pointer;
    background:linear-gradient( to right, #A855F7 23%, #27AE60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description{
    margin-top: 2rem;
    color: #6c7983;
    line-height: 1.7rem;
    
}
.description button{
    background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.2rem;
        color: #27AE60;
        font-weight: 600;
}



.character-details{
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    border: 5px solid #e5e7eb;
    
    
}
    
.details-con{
    display: flex;
    flex-direction: column;
}

.details-con h2{
    border-bottom: solid
}
.details-con h3{
    margin-top: 1rem;
}





.character-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.character-detail.char-image{
    border-radius: 7px;
    margin-right: 0;
    padding-right: 0;
    
    
}

.about button{
    background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.2rem;
        color: #27AE60;
        font-weight: 600;
}

 .voice-actors{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    border: 5px solid #e5e7eb;
} 

